PCLab#5 - Group 2 - Emanuele Sala, Luca Soleri, Fabio Stefana

<div style="border: 4px solid #007bff; padding: 10px; background-color: #e9f5ff; border-radius: 5px;">
    <h1 style="color: #007bff;">Importing libraries and Dataset</h1>
</div>

In [1]:
import pandas as pd
import os
import gc

In [ ]:
directory = "data/sigwatch_data"
df_list = []

for file in os.listdir(directory):
    if file.endswith(".dta"):
        file_path = os.path.join(directory, file)
        temp_df = pd.read_stata(file_path)
        df_list.append(temp_df)
        
df = pd.concat(df_list, ignore_index=True)

<div style="border: 4px solid #007bff; padding: 10px; background-color: #e9f5ff; border-radius: 5px;">
    <h1 style="color: #007bff;">Preliminary data exploration</h1>
</div>

In [ ]:
# With this filter we keep only the banks
df = df[df["corp_industry_sector1"] == "Finance"]

In [ ]:
# And with this filter we only keep the countries form the US, UK or EU
countries = ['Austria',
             'US',
             'Denmark',
             'UK',
             'Germany',
             'Luxembourg',
             'France',
             'Italy',
             'Netherlands',
             'Belgium',
             'Sweden',
             'Spain',
             'Ireland',
             'Portugal',
             'Poland',
             'Finland',
             'USA',
             'Croatia',
             'Bulgaria',
             'Montenegro',
             'Bosnia and Herzegovina']

df = df[df['country_corp'].isin(countries)]

In [ ]:
# We count the unique number of ud_archive as some have more than one row but still count as one isngle campaing
n_of_campaigns = len(list(df["uid_archive"].unique()))
print(f"There are {n_of_campaigns} unique campaigns for US UK and EU banks")

In [ ]:
list_of_ngo_columns = []
for i in range(5):
    i = i+1
    ngo_column_number = f"ngo_name{i}"
    ngo_col = list(df[ngo_column_number])
    list_of_ngo_columns += ngo_col
unique_ngos = list(set(list_of_ngo_columns))

# we do -1 because we have to account for the null value
print(f"There are {len(unique_ngos) - 1} unique NGO organizations involved in this dataset")

In [ ]:
# Numero di aziende targettate

In [ ]:
columns_we_want = ["uid_archive", 
                   "date", 
                   "company",
                   'country_corp', # Country of the Company
                   'corp_industry_sector1', # Industry of the company
                   'company_parent',
                   'company_parent_country',
                   "sentiment",
                   'issue_name1',
                   'issue_name2',
                   'issue_name3']

<div style="border: 4px solid #007bff; padding: 10px; background-color: #e9f5ff; border-radius: 5px;">
    <h1 style="color: #007bff;">Day 2: Exploring bank data</h1>
</div>

In [2]:
def read_banks_ri(directory):
    # banks_ri.xlsm has the total return for each bank
    banks_ri = pd.ExcelFile(directory)
    
    # Each workbook is divided into sheets that divide the banks into different countires
    # the first sheet is a request table so we will ignore it
    banks_ri_sheets = banks_ri.sheet_names[1:]
    
    # We are gonna read all the different sheets and put them into a dataframe, store it 
    # into a list and concatenate them all toghether so we will have a big df with all the 
    # banks_ri info in it.
    # Since all the sheets have a column for the date, we will only read it for the first
    # sheet and skip it for the others.
    first_df = banks_ri.parse(banks_ri_sheets[0])
    first_df = first_df.rename(columns={first_df.columns[0]: "Date"})
    other_dfs = [banks_ri.parse(sheet_name).iloc[:, 1:] for sheet_name in banks_ri_sheets[1:]]
    
    banks_ri_df = pd.concat([first_df] + other_dfs, axis=1)
    return banks_ri_df

def clean_banks_ri(banks_ri_df):
    # Rename columns so that they have cleaner names
    rename_dict = {"Date": "Date"}
    for col in banks_ri_df.columns[1:]:
        rename_dict[col] = col[:-17] + "_TR"
    banks_ri_df.rename(columns=rename_dict, inplace=True)
    
    # As we have 158 banks, we will drop all the banks that are marked as Dead, this is a simple 
    # solution around this problem and we are only doing this because we can afford to do so 
    # seeing how many banks we have. 
    # With this operation we will be dropping only 3 banks.
    dead_banks = []
    for col in banks_ri_df.columns[1:]:
        if "dead" in col.lower():
            dead_banks.append(col)
    banks_ri_df.drop(dead_banks, axis = 1, inplace = True)
    return banks_ri_df

banks_ri_df = read_banks_ri("data/banks_data_bocconi/banks_ri.xlsm")
banks_ri_df = clean_banks_ri(banks_ri_df)
banks_ri_df.head(5)

,Date,AAREAL BANK_TR,COMDIRECT BANK_TR,COMMERZBANK_TR,DT.PFANDBRIEFBANK_TR,PROCREDIT HOLDING_TR,UMWELTBANK_TR,ALLIANZ_TR,DEUTSCHE BANK_TR,BANQUE NATIONALE DE BELGIQUE_TR,...,VIRGIN MONEY UK_TR,HSBC HOLDINGS_TR,LLOYDS BANKING GROUP_TR,METRO BANK_TR,ROYAL BANK OF SCTL.GP._TR,STANDARD CHARTERED_TR,TBC BANK GROUP_TR,ADMIRAL GROUP_TR,ALLIANCE TRUST_TR,SAGA GROUP_TR
0,2008-01-01,182.27,33.09,974.59,NaN,NaN,260.15,3364.43,1937.46,2658.11,...,NaN,1502.17,271.20,NaN,82190.06,79476.00,NaN,449.44,14717.18,1438.33
1,2008-01-02,183.81,33.05,956.43,NaN,NaN,259.22,3304.22,1900.87,2684.50,...,NaN,1489.68,269.47,NaN,81079.38,79001.88,NaN,447.39,14764.00,1438.33
2,2008-01-03,181.73,33.05,944.94,NaN,NaN,261.69,3285.59,1900.00,2682.82,...,NaN,1495.93,270.91,NaN,81912.38,78657.13,NaN,449.44,14866.32,1438.33
3,2008-01-04,173.31,33.09,939.75,NaN,NaN,263.24,3220.61,1881.60,2641.91,...,NaN,1476.30,261.43,NaN,78348.94,77665.81,NaN,436.36,14538.91,1438.33
4,2008-01-07,167.91,33.20,943.08,NaN,NaN,259.37,3179.94,1880.52,2632.54,...,NaN,1486.11,259.71,NaN,77423.38,77924.38,NaN,431.87,14549.14,1438.33

The banks_ri dataset provides the Total Return Index, this includes both price changes and the effect of dividends reinvested back into the stock. If the bank pays dividends, these dividends are considered to be reinvested, adding to the growth of the index. 

This index provides a more comprehensive view of the stock’s overall return by including income from dividends, making it useful for capturing the full picture of what an investor earns from holding the stock.

In [3]:
def read_banks_pi(directory):
    banks_pi = pd.ExcelFile(directory)
    banks_pi_sheets = banks_pi.sheet_names[1:]
    first_df = banks_pi.parse(banks_pi_sheets[0])
    first_df = first_df.rename(columns={first_df.columns[0]: "Date"})
    other_dfs = [banks_pi.parse(sheet_name).iloc[:, 1:] for sheet_name in banks_pi_sheets[1:]]
    banks_ri_df = pd.concat([first_df] + other_dfs, axis=1)
    return banks_ri_df

def clean_banks_pi(banks_pi_df):
    rename_dict = {"Date": "Date"}
    for col in banks_pi_df.columns[1:]:
        rename_dict[col] = col[:-14] + "_PI"
    banks_pi_df.rename(columns=rename_dict, inplace=True)
    dead_banks = []
    for col in banks_pi_df.columns[1:]:
        if "dead" in col.lower():
            dead_banks.append(col)
    banks_pi_df.drop(dead_banks, axis = 1, inplace = True)
    return banks_pi_df

banks_pi_df = read_banks_pi("data/banks_data_bocconi/banks_pi.xlsm")
banks_pi_df = clean_banks_pi(banks_pi_df)
banks_pi_df.head(5)

,Date,AAREAL BANK_PI,COMDIRECT BANK_PI,COMMERZBANK_PI,DT.PFANDBRIEFBANK_PI,PROCREDIT HOLDING_PI,UMWELTBANK_PI,ALLIANZ_PI,DEUTSCHE BANK_PI,BANQUE NATIONALE DE BELGIQUE_PI,...,CLOSE BROTHERS GROUP_PI,VIRGIN MONEY UK_PI,HSBC HOLDINGS_PI,LLOYDS BANKING GROUP_PI,METRO BANK_PI,ROYAL BANK OF SCTL.GP._PI,STANDARD CHARTERED_PI,ADMIRAL GROUP_PI,ALLIANCE TRUST_PI,SAGA GROUP_PI
0,2008-01-01,171.1,27.2,353.5,NaN,NaN,224.0,2132.9,802.2,714.9,...,8202.5,NaN,784.5,137.4,NaN,11418.8,8372.5,400.0,3044.2,854.3
1,2008-01-02,172.6,27.1,346.9,NaN,NaN,223.2,2094.8,787.1,722.0,...,8198.2,NaN,778.0,136.5,NaN,11264.5,8322.5,398.2,3037.9,854.3
2,2008-01-03,170.6,27.1,342.7,NaN,NaN,225.3,2082.9,786.7,721.5,...,8202.5,NaN,781.2,137.3,NaN,11380.3,8286.2,400.0,3059.0,854.3
3,2008-01-04,162.7,27.2,340.8,NaN,NaN,226.7,2041.8,779.1,710.5,...,8332.0,NaN,771.0,132.5,NaN,10885.2,8181.8,388.4,2991.6,854.3
4,2008-01-07,157.7,27.3,342.1,NaN,NaN,223.3,2016.0,778.7,708.0,...,8336.3,NaN,776.1,131.6,NaN,10756.6,8209.0,384.4,2993.7,854.3

NOTE: The banks_pi dataset contains 3 more banks than the banks_pi dataset, those banks are all 3 located in Austria and they are:
- ERSTE GROUP BANK
- RAIFFEISEN BANK INTL
- VOLKSBANK VBG.PARTN.

On the other hand, the banks_pi dataset contains the Price Index, which only reflects a stock’s price movements without accounting for dividends or other distributions. It provides a pure measure of price appreciation, capturing changes in the stock's market price alone. 

This makes it more suitable for CAPM estimation, as we are focused on price shifts rather than the total return an investor would earn if they held the stock and reinvested dividends.

<strong>To clarify, we'll now rely exclusively on the banks_pi dataset to carry out our analysis.</strong>

<div style="border: 4px solid #007bff; padding: 10px">
    <h3 style="color: #007bff;">Now we load the Fama-French info</h1>
</div>

In [4]:
# First we get the start and end date of our bank data
start = banks_pi_df["Date"].iloc[0]
end = banks_pi_df["Date"].iloc[-1]

# And now we can read in the Factors and keep only the days we need
EU_FF = pd.read_excel("data/banks_data_bocconi/Europe_3_Factors_Daily.xlsx")
EU_FF['date'] = pd.to_datetime(EU_FF['date'], format="%m/%d/%Y")
EU_FF = EU_FF[(EU_FF["date"] >= start) & (EU_FF["date"] <= end)]
rename_dict_EU = {"date": "date"}
for col in EU_FF.columns[1:]:
    rename_dict_EU[col] = col + "_EU"
EU_FF.rename(columns=rename_dict_EU, inplace=True)

US_FF = pd.read_excel("data/banks_data_bocconi/North_America_3_Factors_Daily.xlsx")
US_FF['date'] = pd.to_datetime(US_FF['date'], format="%m/%d/%Y")
US_FF = US_FF[(US_FF["date"] >= start) & (US_FF["date"] <= end)]
US_FF.drop("date", axis = 1, inplace = True)
rename_dict_US = {}
for col in US_FF.columns:
    rename_dict_US[col] = col + "_US"
US_FF.rename(columns=rename_dict_US, inplace=True)

FF = pd.concat([EU_FF, US_FF], axis = 1)
FF.reset_index(drop = True, inplace = True)

print(f"Banks_pi length: {len(banks_pi_df)}")
print(f"Banks_pi length: {len(FF)}")

Banks_pi length: 3216
Banks_pi length: 3216

<div style="border: 4px solid #007bff; padding: 10px">
    <h3 style="color: #007bff;">Now we calculate the daily returns for each bank</h1>
</div>

In [6]:
def calculate_return(stock, returns_df):
    shifted = returns_df[stock].shift(1)
    return_series = (returns_df[stock] - shifted) / shifted
    return return_series.rename(f"{stock}_r")

returns_dict = {}

tickers = banks_pi_df.columns[1:]
for stock in tickers:
    returns_dict[f"{stock}_r"] = calculate_return(stock, banks_pi_df)

returns_df = pd.concat(returns_dict.values(), axis=1)

,AAREAL BANK_PI_r,COMDIRECT BANK_PI_r,COMMERZBANK_PI_r,DT.PFANDBRIEFBANK_PI_r,PROCREDIT HOLDING_PI_r,UMWELTBANK_PI_r,ALLIANZ_PI_r,DEUTSCHE BANK_PI_r,BANQUE NATIONALE DE BELGIQUE_PI_r,KBC ANCORA_PI_r,...,CLOSE BROTHERS GROUP_PI_r,VIRGIN MONEY UK_PI_r,HSBC HOLDINGS_PI_r,LLOYDS BANKING GROUP_PI_r,METRO BANK_PI_r,ROYAL BANK OF SCTL.GP._PI_r,STANDARD CHARTERED_PI_r,ADMIRAL GROUP_PI_r,ALLIANCE TRUST_PI_r,SAGA GROUP_PI_r
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.008767,-0.003676,-0.018670,NaN,NaN,-0.003571,-0.017863,-0.018823,0.009931,-0.017422,...,-0.000524,NaN,-0.008286,-0.006550,NaN,-0.013513,-0.005972,-0.004500,-0.002070,0.0
2,-0.011587,0.000000,-0.012107,NaN,NaN,0.009409,-0.005681,-0.000508,-0.000693,-0.020095,...,0.000525,NaN,0.004113,0.005861,NaN,0.010280,-0.004362,0.004520,0.006946,0.0
3,-0.046307,0.003690,-0.005544,NaN,NaN,0.006214,-0.019732,-0.009661,-0.015246,-0.006634,...,0.015788,NaN,-0.013057,-0.034960,NaN,-0.043505,-0.012599,-0.029000,-0.022033,0.0
4,-0.030731,0.003676,0.003815,NaN,NaN,-0.014998,-0.012636,-0.000513,-0.003519,0.016090,...,0.000516,NaN,0.006615,-0.006792,NaN,-0.011814,0.003324,-0.010299,0.000702,0.0

<div style="border: 4px solid #007bff; padding: 10px">
    <h3 style="color: #007bff;">Now we put everything togheter into a single panel</h1>
</div>

In [7]:
bank_data = pd.concat([banks_pi_df, returns_df, FF], axis=1)
bank_data

,Date,AAREAL BANK_PI,COMDIRECT BANK_PI,COMMERZBANK_PI,DT.PFANDBRIEFBANK_PI,PROCREDIT HOLDING_PI,UMWELTBANK_PI,ALLIANZ_PI,DEUTSCHE BANK_PI,BANQUE NATIONALE DE BELGIQUE_PI,...,SAGA GROUP_PI_r,date,Mkt-RF_EU,SMB_EU,HML_EU,RF_EU,Mkt-RF_US,SMB_US,HML_US,RF_US
0,2008-01-01,171.1,27.2,353.5,NaN,NaN,224.0,2132.9,802.2,714.9,...,NaN,2008-01-01,0.02,0.00,0.00,0.01,0.04,0.05,0.01,0.01
1,2008-01-02,172.6,27.1,346.9,NaN,NaN,223.2,2094.8,787.1,722.0,...,0.0,2008-01-02,-0.11,0.94,0.23,0.01,-1.25,0.09,-0.22,0.01
2,2008-01-03,170.6,27.1,342.7,NaN,NaN,225.3,2082.9,786.7,721.5,...,0.0,2008-01-03,-0.13,-0.22,0.11,0.01,-0.03,-0.66,-0.42,0.01
3,2008-01-04,162.7,27.2,340.8,NaN,NaN,226.7,2041.8,779.1,710.5,...,0.0,2008-01-04,-1.74,0.39,0.30,0.01,-2.59,-0.45,0.29,0.01
4,2008-01-07,157.7,27.3,342.1,NaN,NaN,223.3,2016.0,778.7,708.0,...,0.0,2008-01-07,-0.79,-1.03,0.16,0.01,0.02,-0.22,0.24,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3211,2020-04-22,86.6,41.4,6.9,60.5,36.7,830.9,2331.4,65.2,467.6,...,0.0,2020-04-22,1.29,-0.77,0.11,0.00,2.27,-0.45,-1.10,0.00
3212,2020-04-23,85.4,42.1,7.1,60.2,37.0,827.5,2283.0,66.9,472.2,...,0.0,2020-04-23,0.42,0.66,0.92,0.00,0.13,1.03,0.54,0.00
3213,2020-04-24,86.7,41.9,7.0,59.2,37.3,807.1,2271.8,63.8,465.3,...,0.0,2020-04-24,-0.33,0.40,-0.37,0.00,1.40,0.35,-0.33,0.00
3214,2020-04-27,86.8,42.2,7.4,61.5,38.3,790.2,2316.1,71.0,465.3,...,0.0,2020-04-27,1.89,-0.58,0.44,0.00,1.75,1.90,1.37,0.00
3215,2020-04-28,89.2,42.5,7.6,64.0,38.3,780.0,2418.4,74.0,465.3,...,0.0,2020-04-28,1.36,-0.46,1.12,0.00,-0.31,1.13,2.32,0.00

<div style="border: 4px solid #007bff; padding: 10px; background-color: #e9f5ff; border-radius: 5px;">
    <h1 style="color: #007bff;">Task 4: Estimating the CAPM</h1>
</div>

In [ ]:
# Since we have different Fama-French factors for EU and US banks we will define which banks are form the US,
# also since we know that both banks_pi and banks_ri have the same number of us banks its indifferent form wich
# file we get this info
us_banks = []
banks_pi = pd.ExcelFile("data/banks_data_bocconi/banks_ri.xlsm")
us_banks_raw = list(banks_pi.parse("US").columns)[1:]
for bank in us_banks_raw:
    us_banks.append(bank[:-17])

# Delete banks_pi and us_banks_raw to free memory
del banks_pi, us_banks_raw
gc.collect()

In [ ]:
bank_data_complete = pd.concat([bank_data, FF], axis = 1)
bank_data_complete.drop(["date"], axis = 1, inplace = True)

In [ ]:
bank_data_complete

In [ ]:
# Before we estimate the CAPM we need to define market returns and the risk free

In [ ]:
# Suppress warnings
import warnings
warnings.filterwarnings("ignore")

def estimateCAPM(returns_df):
    # Initialize an empty DataFrame to store results
    CAPM_df = pd.DataFrame()  
     # Loop through all stock columns, excluding the Date and sp500
    for stock in list(returns_df.columns)[1:-1]: 
        stock_i = returns_df[f"{stock}"]  
        mkt = returns_df["sp500_r"]
        
        # Add a constant term (intercept) to the regression model, this will be our Alpha
        X = sm.add_constant(mkt)  
        # Fit the OLS regression
        model = sm.OLS(stock_i, X).fit()  
    
        # Extract parameter of intrest
        alpha = model.params[0]
        beta = model.params[1]
        p_value_alpha = model.pvalues[0]
        p_value_beta = model.pvalues[1]
    
        # Create a dictionary to store the results for the current stock
        result_i = {"Alpha": alpha,
                    "Beta": beta,
                    "P Value Alpha": p_value_alpha,
                    "P Value Beta": p_value_beta}
    
        # Convert result_i to a DataFrame and concatenate it to CAPM_df
        result_df = pd.DataFrame(result_i, index=[stock])  
        CAPM_df = pd.concat([CAPM_df, result_df])  

CAPM_df.reset_index(inplace = True)
CAPM_df.rename(columns={'index': 'Stock'}, inplace = True)

In [ ]:
threshold = int(0.7 * len(banks_ri_df))

# Drop columns that don't meet the threshold
banks_ri_df.dropna(axis=1, thresh=threshold)