PCLab#5 - Group 2 - Emanuele Sala, Luca Soleri, Fabio Stefana

<div style="border: 4px solid #007bff; padding: 10px; background-color: #e9f5ff; border-radius: 5px;">
    <h1 style="color: #007bff;">Importing libraries and Dataset</h1>
</div>

In [1]:
import pandas as pd
import os

In [ ]:
directory = "data/sigwatch_data"
df_list = []

for file in os.listdir(directory):
    if file.endswith(".dta"):
        file_path = os.path.join(directory, file)
        temp_df = pd.read_stata(file_path)
        df_list.append(temp_df)
        
df = pd.concat(df_list, ignore_index=True)

<div style="border: 4px solid #007bff; padding: 10px; background-color: #e9f5ff; border-radius: 5px;">
    <h1 style="color: #007bff;">Preliminary data exploration</h1>
</div>

In [ ]:
# With this filter we keep only the banks
df = df[df["corp_industry_sector1"] == "Finance"]

In [ ]:
# And with this filter we only keep the countries form the US, UK or EU
countries = ['Austria',
             'US',
             'Denmark',
             'UK',
             'Germany',
             'Luxembourg',
             'France',
             'Italy',
             'Netherlands',
             'Belgium',
             'Sweden',
             'Spain',
             'Ireland',
             'Portugal',
             'Poland',
             'Finland',
             'USA',
             'Croatia',
             'Bulgaria',
             'Montenegro',
             'Bosnia and Herzegovina']

df = df[df['country_corp'].isin(countries)]

In [ ]:
# We count the unique number of ud_archive as some have more than one row but still count as one isngle campaing
n_of_campaigns = len(list(df["uid_archive"].unique()))
print(f"There are {n_of_campaigns} unique campaigns for US UK and EU banks")

In [ ]:
list_of_ngo_columns = []
for i in range(5):
    i = i+1
    ngo_column_number = f"ngo_name{i}"
    ngo_col = list(df[ngo_column_number])
    list_of_ngo_columns += ngo_col
unique_ngos = list(set(list_of_ngo_columns))

# we do -1 because we have to account for the null value
print(f"There are {len(unique_ngos) - 1} unique NGO organizations involved in this dataset")

In [ ]:
# Numero di aziende targettate

In [ ]:
columns_we_want = ["uid_archive", 
                   "date", 
                   "company",
                   'country_corp', # Country of the Company
                   'corp_industry_sector1', # Industry of the company
                   'company_parent',
                   'company_parent_country',
                   "sentiment",
                   'issue_name1',
                   'issue_name2',
                   'issue_name3']

<div style="border: 4px solid #007bff; padding: 10px; background-color: #e9f5ff; border-radius: 5px;">
    <h1 style="color: #007bff;">Task #4 : estimate parameters of the CAPM </h1>
</div>

In [2]:
# banks_ri.xlsm has the total return for each bank
banks_ri = pd.ExcelFile("data/banks_data_bocconi/banks_ri.xlsm")

# Each workbook is divided into sheets that divide the banks into different countires
# the first sheet is a request table so we will ignore it
banks_ri_sheets = banks_ri.sheet_names[1:]

# We are gonna read all the different sheets and put them into a dataframe, store it 
# into a list and concatenate them all toghether so we will have a big df with all the 
# banks_ri info in it.
# Since all the sheets have a column for the date, we will only read it for the first
# sheet and skip it for the others,.
first_df = banks_ri.parse(banks_ri_sheets[0])
first_df = first_df.rename(columns={first_df.columns[0]: "Date"})
other_dfs = [banks_ri.parse(sheet_name).iloc[:, 1:] for sheet_name in banks_ri_sheets[1:]]

banks_ri_df = pd.concat([first_df] + other_dfs, axis=1)
banks_ri_df

,Date,AAREAL BANK - TOT RETURN IND,COMDIRECT BANK - TOT RETURN IND,COMMERZBANK - TOT RETURN IND,DT.PFANDBRIEFBANK - TOT RETURN IND,PROCREDIT HOLDING - TOT RETURN IND,UMWELTBANK - TOT RETURN IND,ALLIANZ - TOT RETURN IND,DEUTSCHE BANK - TOT RETURN IND,BANQUE NATIONALE DE BELGIQUE - TOT RETURN IND,...,VIRGIN MONEY UK - TOT RETURN IND,HSBC HOLDINGS - TOT RETURN IND,LLOYDS BANKING GROUP - TOT RETURN IND,METRO BANK - TOT RETURN IND,ROYAL BANK OF SCTL.GP. - TOT RETURN IND,STANDARD CHARTERED - TOT RETURN IND,TBC BANK GROUP - TOT RETURN IND,ADMIRAL GROUP - TOT RETURN IND,ALLIANCE TRUST - TOT RETURN IND,SAGA GROUP - TOT RETURN IND
0,2008-01-01,182.27,33.09,974.59,NaN,NaN,260.15,3364.43,1937.46,2658.11,...,NaN,1502.17,271.20,NaN,82190.06,79476.00,NaN,449.44,14717.18,1438.33
1,2008-01-02,183.81,33.05,956.43,NaN,NaN,259.22,3304.22,1900.87,2684.50,...,NaN,1489.68,269.47,NaN,81079.38,79001.88,NaN,447.39,14764.00,1438.33
2,2008-01-03,181.73,33.05,944.94,NaN,NaN,261.69,3285.59,1900.00,2682.82,...,NaN,1495.93,270.91,NaN,81912.38,78657.13,NaN,449.44,14866.32,1438.33
3,2008-01-04,173.31,33.09,939.75,NaN,NaN,263.24,3220.61,1881.60,2641.91,...,NaN,1476.30,261.43,NaN,78348.94,77665.81,NaN,436.36,14538.91,1438.33
4,2008-01-07,167.91,33.20,943.08,NaN,NaN,259.37,3179.94,1880.52,2632.54,...,NaN,1486.11,259.71,NaN,77423.38,77924.38,NaN,431.87,14549.14,1438.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3211,2020-04-22,126.90,86.08,21.01,81.91,40.14,1387.93,6352.29,201.17,2595.15,...,35.26,1551.10,47.22,4.65,2799.64,28616.78,79.08,1936.39,38350.87,1438.33
3212,2020-04-23,125.18,87.56,21.56,81.53,40.47,1382.27,6220.43,206.42,2620.59,...,36.34,1569.07,48.03,4.60,2846.44,29297.06,79.38,1932.15,38515.23,1438.33
3213,2020-04-24,127.08,87.16,21.35,80.14,40.81,1348.28,6189.82,196.74,2582.43,...,35.83,1537.90,46.94,4.50,2796.97,28130.86,77.57,1957.59,38131.72,1438.33
3214,2020-04-27,127.17,87.69,22.33,83.36,41.98,1319.95,6310.70,219.14,2582.43,...,38.63,1592.02,48.20,4.66,2874.51,28639.21,78.78,1938.93,39337.04,1438.33
3215,2020-04-28,130.71,88.23,23.16,86.63,41.98,1302.96,6589.34,228.32,2582.43,...,42.14,1608.27,52.48,4.56,3076.40,29147.55,82.91,1978.80,39775.33,1438.33

In [3]:
list(banks_ri_df.columns)

['Date',
 'AAREAL BANK - TOT RETURN IND',
 'COMDIRECT BANK - TOT RETURN IND',
 'COMMERZBANK - TOT RETURN IND',
 'DT.PFANDBRIEFBANK - TOT RETURN IND',
 'PROCREDIT HOLDING - TOT RETURN IND',
 'UMWELTBANK - TOT RETURN IND',
 'ALLIANZ - TOT RETURN IND',
 'DEUTSCHE BANK - TOT RETURN IND',
 'BANQUE NATIONALE DE BELGIQUE - TOT RETURN IND',
 'KBC ANCORA - TOT RETURN IND',
 'KBC GROUP - TOT RETURN IND',
 'BANK OF CYPRUS HOLDING - TOT RETURN IND',
 'HELLENIC BANK - TOT RETURN IND',
 'LHV GROUP - TOT RETURN IND',
 'BBV.ARGENTARIA - TOT RETURN IND',
 'BANCO DE SABADELL - TOT RETURN IND',
 'BANCO SANTANDER - TOT RETURN IND',
 'BANKIA - TOT RETURN IND',
 "BANKINTER 'R' - TOT RETURN IND",
 'CAIXABANK - TOT RETURN IND',
 'LIBERBANK - TOT RETURN IND',
 'UNICAJA BANCO - TOT RETURN IND',
 'AKTIA BANK A - TOT RETURN IND',
 'NORDEA BANK - TOT RETURN IND',
 'BNP PARIBAS - TOT RETURN IND',
 'CRCAM ILLE-VIL.CCI - TOT RETURN IND',
 'CRCAM NORD CCI - TOT RETURN IND',
 'CREDIT AGRICOLE - TOT RETURN IND',
 'CREDIT AGRICOLE BRIE PICARDIE - TOT RETURN IND',
 'CREDIT AGR.ILE DE FRANCE - TOT RETURN IND',
 'CREDIT FONCIER DE MONACO - TOT RETURN IND',
 'NATIXIS - TOT RETURN IND',
 'SOCIETE GENERALE - TOT RETURN IND',
 'BANQUE DE SAVOIE DEAD - 01/04/10 - TOT RETURN IND',
 'CREDIT AGRICOLE - TOT RETURN IND.1',
 'MERSEN (EX LCL) - TOT RETURN IND',
 'ALPHA BANK - TOT RETURN IND',
 'ATTICA BANK - TOT RETURN IND',
 'BANK OF GREECE - TOT RETURN IND',
 'BANK OF PIRAEUS - TOT RETURN IND',
 'EUROBANK HOLDINGS - TOT RETURN IND',
 'NATIONAL BK.OF GREECE - TOT RETURN IND',
 'AIB GROUP - TOT RETURN IND',
 'BANK OF IRELAND GROUP - TOT RETURN IND',
 'PERMANENT TSB GHG. - TOT RETURN IND',
 'BANCA GENERALI - TOT RETURN IND',
 'BANCA MONTE DEI PASCHI - TOT RETURN IND',
 'BCA.PICCOLO CDT.VALTELL - TOT RETURN IND',
 'BANCA PPO.DI SONDRIO - TOT RETURN IND',
 'BANCO BPM - TOT RETURN IND',
 'BNC.DI DESIO E DELB. - TOT RETURN IND',
 'BPER BANCA - TOT RETURN IND',
 'CREDITO EMILIANO - TOT RETURN IND',
 'FINECOBANK SPA - TOT RETURN IND',
 'ILLIMITY BANK - TOT RETURN IND',
 'INTESA SANPAOLO - TOT RETURN IND',
 'UNICREDIT - TOT RETURN IND',
 'UNIONE DI BANCHE ITALIAN - TOT RETURN IND',
 'MEDIOBANCA BC.FIN - TOT RETURN IND',
 'SIAULIU BANKAS - TOT RETURN IND',
 'BANK OF VALLETTA - TOT RETURN IND',
 'FIMBANK - TOT RETURN IND',
 'HSBC BANK MALTA - TOT RETURN IND',
 'LOMBARD BANK - TOT RETURN IND',
 'ABN AMRO BANK - TOT RETURN IND',
 'ING GROEP - TOT RETURN IND',
 'NIBC HOLDING - TOT RETURN IND',
 'VAN LANSCHOT KEMPEN - TOT RETURN IND',
 'ASR NEDERLAND - TOT RETURN IND',
 'AEGON - TOT RETURN IND',
 'DELTA LLOYD GROUP DEAD - DEAD 01/06/17 - TOT RETURN IND',
 'BANK FUR TIROL UND VBG. - TOT RETURN IND',
 'BAWAG GROUP - TOT RETURN IND',
 'BKS BANK - TOT RETURN IND',
 'ERSTE GROUP BANK - TOT RETURN IND',
 'OBERBANK - TOT RETURN IND',
 'OBERBANK PREF. - TOT RETURN IND',
 'RAIFFEISEN BANK INTL. - TOT RETURN IND',
 "BANCO COMR.PORTUGUES 'R' - TOT RETURN IND",
 'NOVA LJUBLJANSKA BANK DD NPV - TOT RETURN IND',
 'OTP BANKA SLOVENSKO - TOT RETURN IND',
 'OTP BANKA SLOVENSKO2 - TOT RETURN IND',
 'OTP BANKA SLOVENSKO3 - TOT RETURN IND',
 'TATRA BANKA - TOT RETURN IND',
 'TATRA BANKA 2 - TOT RETURN IND',
 'VSEOBECNA UVEROVA BANKA - TOT RETURN IND',
 'BANK OF AMERICA - TOT RETURN IND',
 'TRUIST FINANCIAL - TOT RETURN IND',
 'BOK FINL. - TOT RETURN IND',
 'CIT GROUP - TOT RETURN IND',
 'CITIZENS FINANCIAL GROUP - TOT RETURN IND',
 'COMERICA - TOT RETURN IND',
 'COMMERCE BCSH. - TOT RETURN IND',
 'CREDICORP - TOT RETURN IND',
 'CULLEN FO.BANKERS - TOT RETURN IND',
 'DISCOVER FINANCIAL SVS. - TOT RETURN IND',
 'EAST WEST BANCORP - TOT RETURN IND',
 'FIFTH THIRD BANCORP - TOT RETURN IND',
 'FIRST CTZN.BCSH.A - TOT RETURN IND',
 'FIRST FINL.BKSH. - TOT RETURN IND',
 'FIRST HORIZON NATIONAL - TOT RETURN IND',
 'FIRST REPUBLIC BANK - TOT RETURN IND',
 'FNB - TOT RETURN IND',
 'HUNTINGTON BCSH. - TOT RETURN IND',
 'IBERIABANK - TOT RETURN IND',
 'KEYCORP - TOT RETURN IND',
 'M&T BANK - TOT RETURN IND',
 'NEW YORK COMMUNITY BANCORP - TOT RETURN IND',
 'PACWEST BANCORP - TOT RETURN IND',
 'PEOPLES UNITED FINANCIAL - TOT RETURN IND',
 'PINNACLE FINANCIAL PTNS. - TOT RETURN IND',
 'PNC FINL.SVS.GP. - TOT RETURN IND',
 'POPULAR - TOT RETURN IND',
 'PROSPERITY BCSH. - TOT RETURN IND',
 'REGIONS FINL.NEW - TOT RETURN IND',
 'SIGNATURE BANK - TOT RETURN IND',
 'STERLING BANCORP - TOT RETURN IND',
 'SVB FINANCIAL GROUP - TOT RETURN IND',
 'SYNOVUS FINANCIAL - TOT RETURN IND',
 'TCF FINANCIAL - TOT RETURN IND',
 'TFS FINANCIAL - TOT RETURN IND',
 'TRISTATE CAPITAL HOLDINGS DS - TOT RETURN IND',
 'UNITED BANKSHARES - TOT RETURN IND',
 'US BANCORP - TOT RETURN IND',
 'WEBSTER FINANCIAL - TOT RETURN IND',
 'WELLS FARGO & CO - TOT RETURN IND',
 'WESTERN ALL.BANCORP. - TOT RETURN IND',
 'ZIONS BANCORP. - TOT RETURN IND',
 'ACE CASH EXPRESS (BER) DEAD - 10/10/06 - TOT RETURN IND',
 'ADV.AUTO PARTS - TOT RETURN IND',
 'AETNA CAP.L L C PF.MIPS 9 - %TOT RETURN IND',
 'ADVENT CONVERTIBLE AND INCOME FUND - TOT RETURN IND',
 'AFLAC - TOT RETURN IND',
 'ALLY FINANCIAL - TOT RETURN IND',
 'AMERICAN EXPRESS - TOT RETURN IND',
 'AMERICAN INTL.GP. - TOT RETURN IND',
 'ARES MANAGEMENT A - TOT RETURN IND',
 'AXIS CAPITAL HDG. - TOT RETURN IND',
 'BANK OF NEW YORK MELLON - TOT RETURN IND',
 'BERKSHIRE HILLS BANCORP - TOT RETURN IND',
 'CITIGROUP - TOT RETURN IND',
 'GOLDMAN SACHS GP. - TOT RETURN IND',
 'JP MORGAN CHASE & CO. - TOT RETURN IND',
 'LEHMAN BROS.HDG.CAP.TST. III PF.SR.K - TOT RETURN IND',
 'MASTERCARD - TOT RETURN IND',
 'BANK OF GEORGIA GROUP - TOT RETURN IND',
 'BARCLAYS - TOT RETURN IND',
 'CLOSE BROTHERS GROUP - TOT RETURN IND',
 'VIRGIN MONEY UK - TOT RETURN IND',
 'HSBC HOLDINGS - TOT RETURN IND',
 'LLOYDS BANKING GROUP - TOT RETURN IND',
 'METRO BANK - TOT RETURN IND',
 'ROYAL BANK OF SCTL.GP. - TOT RETURN IND',
 'STANDARD CHARTERED - TOT RETURN IND',
 'TBC BANK GROUP - TOT RETURN IND',
 'ADMIRAL GROUP - TOT RETURN IND',
 'ALLIANCE TRUST - TOT RETURN IND',
 'SAGA GROUP - TOT RETURN IND']

In [ ]:
banks_ri_df["Date"] = banks_ri_df["Name"]
banks_ri_df.drop(["Name"], axis = 1, inplace = True)
list(banks_ri_df.columns)